<div class="caro">
  {{#if storyZero}}
    {{#link-to "baby-monster"}}
      <img src="css/baby-monster.jpg">
      <h2>Is your Baby a Monster?</h2>
    {{/link-to}}
    {{else}}
      {{#if storyOne}}
        {{#link-to "bloody-mary"}}
        <img src="css/bloody-mary.jpg">
        <h2>Hungry?</h2>
        {{/link-to}}
      {{else}}
        {{#if storyTwo}}
          {{#link-to "video-game"}}
          <img src="css/head-gear.jpg">
          <h2>PIGSQUAD REPRESENT!</h2>
          {{/link-to}}
        {{else}}
          {{#link-to "high-five"}}
          <img src="css/cat-high-five.jpg">
          <h2>High Five All Teh Cats!</h2>
          {{/link-to}}
        {{/if}}
      {{/if}}
  {{/if}}
</div>

<h3><a {{action "previous"}}>Previous</a> <a {{action "next"}}>Next</a></h3>
